<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.wlj.module.dbs.dao.pay.TblWecharRedMapper">

    <sql id="Base_Column_List">
        `id`,
        `order_num`,
        `openid`,
        `re_user_name`,
        `price`,
        `note`,
        `return_code`,
        `return_msg`,
        `result_code`,
        `err_code`,
        `err_code_des`,
        `wx_payment_no`,
        `wx_payment_time`,
        `pay_type`,
        `create_user`,
        `create_time`,
        `update_user`,
        `update_time`,
        `status`
    </sql>

    <insert id="inster">
        insert into tbl_wechar_red (`id`,
        `order_num`,
        `openid`,
        `re_user_name`,
        `price`,
        `note`,
        `ip`,
        `return_code`,
        `return_msg`,
        `result_code`,
        `err_code`,
        `err_code_des`,
        `wx_payment_no`,
        `wx_payment_time`,
        `pay_type`)
        values
        (#{id},
        #{orderNum},
        #{openid},
        #{reUserName},
        #{price},
        #{note},
        #{ip},
        #{returnCode},
        #{returnMsg},
        #{resultCode},
        #{errCode},
        #{errCodeDes},
        #{wxPaymentNo},
        #{wxPaymentTime,jdbcType=VARCHAR},
        #{payType,jdbcType=INTEGER})
        on duplicate key update
        return_code = values(return_code),
        return_msg = values(return_msg),
        result_code = values(result_code),
        err_code = values(err_code),
        err_code_des = values(err_code_des),
        wx_payment_no = values(wx_payment_no),
        wx_payment_time = values(wx_payment_time)
    </insert>

    <update id="updateByOrderNum">
        UPDATE tbl_wechar_red SET
        result_code = #{resultCode,jdbcType=INTEGER},
        err_code=#{errCode,jdbcType=VARCHAR},
        err_code_des=#{errCodeDes,jdbcType=VARCHAR},
        wx_payment_no=#{wxPaymentNo,jdbcType=VARCHAR},
        wx_payment_time=#{wxPaymentTime,jdbcType=VARCHAR}
        WHERE order_num = #{orderNum,jdbcType=VARCHAR}
    </update>

    <select id="selectByOrderNum" resultType="com.wlcb.wlj.module.dbs.entity.pay.TblWecharRed">
        select <include refid="Base_Column_List"/> from tbl_wechar_red where order_num = #{orderNum,jdbcType=VARCHAR} and status = 1
    </select>

    <select id="listAll" resultType="com.wlcb.wlj.module.dbs.entity.pay.TblWecharRed">
        select <include refid="Base_Column_List"/> from tbl_wechar_red where status = 1
        <if test="reUserName != null  and reUserName!=''">
            and re_user_name = #{reUserName,jdbcType=VARCHAR}
        </if>
        <if test="openid != null  and openid!=''">
            and openid = #{openid,jdbcType=VARCHAR}
        </if>
        <if test="orderNum != null  and orderNum!=''">
            and order_num = #{orderNum,jdbcType=VARCHAR}
        </if>
        <if test="resultCode != null  and resultCode!=''">
            and result_code = #{resultCode,jdbcType=VARCHAR}
        </if>
        <if test="payType != null">
            and pay_type = #{payType,jdbcType=INTEGER}
        </if>
        order by create_time desc
    </select>

</mapper>