HELP.md
target/
logs/
.mvn/
mvnw
mvnw.cmd
file/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
!script/**
*.log
out
.DS_Store
sql/mysql_core_city_data.sql

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/