<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.ylth.module.dbs.dao.tiwen.TblSuppliesMapper">

    <sql id="Base_Column_List">
        id,
        openid,
        bayonet_number,
        bayonet_name,
        supplies,
        quxian,
        jiedao,
        shequ,
        xiaoqu,
        create_user,
        create_time,
        update_user,
        update_time,
        status
    </sql>

    <select id="listDetail" resultType="java.util.Map">
        select w.id,w.openid,w.bayonet_number,w.bayonet_name,w.supplies,w.quxian,w.jiedao,w.shequ,w.xiaoqu,w.create_user,w.create_time,w.update_user,w.update_time,
        u.openid,u.name,u.phone,u.idcard
        from tbl_supplies w left join user u on w.openid = u.openid
        <where>
            <if test="user.name != null  and user.name!=''">
                and u.name like CONCAT('%',#{user.name},'%')
            </if>
            <if test="user.openid != null  and user.openid!=''">
                and w.openid like CONCAT('%',#{supplies.openid},'%')
            </if>
            <if test="user.idcard != null  and user.idcard!=''">
                and u.idcard = #{user.idcard}
            </if>
            <if test="user.phone != null  and user.phone!=''">
                and u.phone = #{user.phone}
            </if>

            <if test="supplies.supplies != null">
                and w.bayonet_number = #{supplies.bayonetNumber,jdbcType=INTEGER}
            </if>
            <if test="supplies.jiedao != null  and supplies.jiedao!=''">
                and w.bayonet_name = #{supplies.bayonetName}
            </if>

            <if test="supplies.supplies != null  and supplies.supplies!=''">
                and w.supplies like CONCAT('%',#{supplies.supplies},'%')
            </if>
            <if test="supplies.jiedao != null  and supplies.jiedao!=''">
                and w.jiedao like CONCAT('%',#{supplies.jiedao},'%')
            </if>
            <if test="supplies.shequ != null  and supplies.shequ!=''">
                and w.shequ like CONCAT('%',#{supplies.shequ},'%')
            </if>
            <if test="supplies.xiaoqu != null  and supplies.xiaoqu!=''">
                and w.xiaoqu = #{supplies.xiaoqu}
            </if>
            <if test="supplies.quxian != null  and supplies.quxian!=''">
                and w.quxian = #{supplies.quxian}
            </if>
            <if test="supplies.startTime != null  and supplies.startTime!=''">
                <![CDATA[ and w.create_time >= #{supplies.startTime} ]]>
            </if>
            <if test="supplies.endTime != null and supplies.endTime!=''">
                <![CDATA[ and w.create_time <= #{supplies.endTime} ]]>
            </if>
        </where>
        order by w.create_time desc
    </select>

    <insert id="inster">
        INSERT INTO tbl_supplies (id,
        openid,
        bayonet_number,
        bayonet_name,
        supplies,
        quxian,
        jiedao,
        shequ,
        xiaoqu,
        create_user,
        update_user)
        value (#{id},#{openid},#{bayonetNumber,jdbcType=INTEGER},#{bayonetName},#{supplies},#{quxian},#{jiedao},#{shequ},#{xiaoqu},#{createUser},#{updateUser})
    </insert>

    <update id="updateByPrimaryKey">
        UPDATE tbl_supplies
        <set >
            <if test="bayonetNumber != null">
                bayonet_number = #{bayonetNumber,jdbcType=INTEGER},
            </if>
            <if test="bayonetName != null and bayonetName!=''">
                bayonet_name = #{bayonetName},
            </if>
            <if test="supplies != null and supplies!=''">
                supplies = #{supplies},
            </if>
            <if test="quxian != null and quxian!=''">
                quxian = #{quxian},
            </if>
            <if test="jiedao != null and jiedao!=''">
              jiedao = #{jiedao},
            </if>
            <if test="shequ != null and shequ!=''">
                shequ = #{shequ},
            </if>
            <if test="xiaoqu != null and xiaoqu!=''">
                xiaoqu = #{xiaoqu},
            </if>
            <if test="updateUser != null and updateUser!=''">
                update_user = #{updateUser},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM tbl_supplies WHERE id = #{id}
    </delete>
</mapper>