<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.ylth.module.dbs.dao.corporate.CorporateReviewMapper">

    <sql id="Base_Column_List">
        `id`,
        `registered_number`,
        `organization_code`,
        `enterprise_name`,
        `area`,
        `enterprise_type`,
        `legal_person`,
        `legal_phone`,
        `liaison_name`,
        `liaison_phone`,
        `enterprise_authority`,
        `enterprise_phone`,
        `registered_money`,
        `enterprise_range`,
        `registered_date`,
        `legal_idcard`,
        `liaison_idcard`,
        `authority_file`,
        `review_stats`,
        `refuse_reason`,
        `quxian`,
        `create_user`,
        `create_time`,
        `update_user`,
        `update_time`,
        `status`
    </sql>

    <insert id="inster">
        insert into tbl_csrrg_corporate_review (`id`,
        `registered_number`,
        `organization_code`,
        `enterprise_name`,
        `area`,
        `enterprise_type`,
        `legal_person`,
        `legal_phone`,
        `liaison_name`,
        `liaison_phone`,
        `enterprise_authority`,
        `enterprise_phone`,
        `registered_money`,
        `enterprise_range`,
        `registered_date`,
        `legal_idcard`,
        `liaison_idcard`,
        `authority_file`,
        `review_stats`,
        `quxian`)
        values (#{id,jdbcType=VARCHAR},#{registeredNumber,jdbcType=VARCHAR},#{organizationCode,jdbcType=VARCHAR},#{enterpriseName,jdbcType=VARCHAR},
        #{area,jdbcType=VARCHAR},#{enterpriseType,jdbcType=VARCHAR},#{legalPerson,jdbcType=VARCHAR},#{legalPhone,jdbcType=VARCHAR},
        #{liaisonName,jdbcType=VARCHAR},#{liaisonName,jdbcType=VARCHAR},#{enterpriseAuthority,jdbcType=VARCHAR},#{enterprisePhone,jdbcType=VARCHAR},
        #{registeredMoney,jdbcType=VARCHAR},#{enterpriseRange,jdbcType=VARCHAR},#{registeredDate,jdbcType=VARCHAR},#{legalIdcard,jdbcType=VARCHAR},
        #{liaisonIdcard,jdbcType=VARCHAR},#{authorityFile,jdbcType=VARCHAR},#{reviewStats,jdbcType=INTEGER},#{quxian,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKeySelective">
        update tbl_csrrg_corporate_review
        <set >
            <if test="area != null" >
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="enterpriseName != null and enterpriseName != ''" >
                enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
            </if>
            <if test="legalPerson != null and legalPerson!=''" >
                legal_person = #{legalPerson,jdbcType=VARCHAR},
            </if>
            <if test="enterpriseRange != null and enterpriseRange != ''" >
                enterprise_range = #{enterpriseRange,jdbcType=VARCHAR},
            </if>
            <if test="legalIdcard != null and legalIdcard!=''" >
                legal_idcard = #{legalIdcard,jdbcType=VARCHAR},
            </if>
            <if test="legalPhone != null and legalPhone!=''" >
                legal_phone = #{legalPhone,jdbcType=VARCHAR},
            </if>
            <if test="enterpriseAuthority != null and enterpriseAuthority!=''" >
                enterprise_authority = #{enterpriseAuthority,jdbcType=VARCHAR},
            </if>
            <if test="organizationCode != null and organizationCode != ''" >
                organization_code = #{organizationCode,jdbcType=VARCHAR},
            </if>
            <if test="enterprisePhone != null and enterprisePhone != ''" >
                enterprise_phone = #{enterprisePhone,jdbcType=VARCHAR},
            </if>
            <if test="registeredMoney != null and registeredMoney != ''" >
                registered_money = #{registeredMoney,jdbcType=VARCHAR},
            </if>
            <if test="enterpriseType != null and enterpriseType != ''" >
                enterprise_type = #{enterpriseType,jdbcType=VARCHAR},
            </if>
            <if test="quxian != null and quxian != ''" >
                quxian = #{quxian,jdbcType=VARCHAR},
            </if>
            <if test="updateUser != null and updateUser != ''" >
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateStatus">
        UPDATE tbl_csrrg_corporate_review SET review_stats = #{status,jdbcType=INTEGER},refuse_reason=#{reason,jdbcType=VARCHAR} WHERE id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="listAll" resultType="com.wlcb.ylth.module.dbs.entity.corporate.TblCsrrgCorporateReview">
        select <include refid="Base_Column_List"/> from tbl_csrrg_corporate_review
        <where>
            status = 1
            <if test="reviewStats != null">
                and review_stats = #{reviewStats,jdbcType=INTEGER}
            </if>
            <if test="enterpriseName != null and enterpriseName != ''">
                and enterprise_name = #{enterpriseName,jdbcType=VARCHAR}
            </if>
            <if test="legalPerson != null and legalPerson!=''">
                and legal_person = #{legalPerson,jdbcType=VARCHAR}
            </if>
            <if test="legalPhone != null and legalPhone!=''">
                and legal_phone = #{legalPhone,jdbcType=VARCHAR}
            </if>
            <if test="quxian != null and quxian!=''">
                and quxian = #{quxian,jdbcType=VARCHAR}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectById" resultType="com.wlcb.ylth.module.dbs.entity.corporate.TblCsrrgCorporateReview">
        select <include refid="Base_Column_List"/> from tbl_csrrg_corporate_review where id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>