#通用开发环境配置

#redis配置
spring:
  redis:
    ##redis 单机环境配置
    host: 127.0.0.1
    port: 6379
    password:
    database: 99
    timeout: 5000
    ssl: false
    ##redis 集群环境配置
    #cluster:
    #  nodes: 127.0.0.1:7001,127.0.0.1:7002,127.0.0.1:7003
    #  commandTimeout: 5000

jpower:
  #  开发环境
  dev:
    nacos:
#      注册中心地址
      server-addr: localhost:8847
    sentinel:
      #      sentinel流控组件地址
      dashboard: localhost:8857
    seata:
      grouplist: localhost:85
    datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/jpower?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true&autoReconnect=true&useTimezone=true&serverTimezone=GMT%2B8
      username: root
      password: 123456