<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">

    <springProperty scope="context" name="mode" source="jpower.log.mode" defaultValue="file,skywalking"/>
    <springProperty scope="context" name="log.file.base" source="jpower.log.file.base" defaultValue="./logs"/>
    <springProperty scope="context" name="log.file.historyDay" source="jpower.log.file.historyDay" defaultValue="30"/>
    <springProperty scope="context" name="log.file.pattern" source="jpower.log.file.pattern" defaultValue="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [${appName}-${version}] [%tid] [%thread] [%logger{39}.%M:%L] - %msg%n"/>
    <springProperty scope="context" name="log.skywalking.pattern" source="jpower.log.skywalking.pattern" defaultValue="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [${appName}] [%tid] [%thread] [%logger{39}.%M:%L] - %msg%n"/>
    <springProperty scope="context" name="log.elk.destination" source="jpower.log.elk.destination"/>
    <springProfile name="dev">
        <property scope="context" name="level" value="DEBUG" />
    </springProfile>
    <springProfile name="!dev">
        <property scope="context" name="level" value="INFO" />
    </springProfile>

    <contextListener class="com.wlcb.jpower.log.listener.LoggerStartupListener"/>

    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){blue} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(%tid){red} %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%replace(%caller{1}){'\t|Caller.{1}0|\r\n|\r|\n', ''}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!--控制台日志， 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </layout>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--  日志文件输出  -->
    <if condition='property("mode").contains("file")'>
        <then>
            <include resource="logback-file.xml" />
        </then>
    </if>

    <!--  skywalking日志输出  -->
    <if condition='property("mode").contains("skywalking")'>
        <then>
            <include resource="logback-skywalking.xml" />
        </then>
    </if>

    <!--  ELK日志输出  -->
    <if condition='property("mode").contains("elk")'>
        <then>
            <include resource="logback-elk.xml" />
        </then>
    </if>

    <logger name="io.netty.util.internal" level="info" />
    <logger name="org.hibernate" level="info" />
    <logger name="org.jboss.logging" level="info" />
    <logger name="org.springframework.core.env" level="info" />
    <logger name="org.springframework.beans.factory.support" level="info" />
    <logger name="com.alibaba.druid" level="INFO"/>
    <logger name="springfox.documentation" level="info"/>
    <logger name="org.springframework.data.convert" level="info"/>
    <!-- 去掉自动装配信息，需要的自行打开 -->
    <logger name="org.springframework.boot.autoconfigure.logging" level="info" additivity="false" />
    <!--myibatis log configure-->
    <logger name="com.apache.ibatis" level="info"/>
    <logger name="com.ibatis" level="info" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="info" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="info" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="info" />
    <logger name="java.sql.Connection" level="info" />
    <logger name="java.sql.Statement" level="info" />
    <logger name="java.sql.PreparedStatement" level="info" />
    <logger name="com.baomidou.mybatisplus" level="WARN"/>
    <!-- 减少nacos日志 -->
    <logger name="com.alibaba.nacos" level="ERROR"/>
    <!-- 不打印SQL信息 -->
    <logger name="com.wlcb.jpower.dbs.dao" level="info" />

    <!-- 日志输出级别 -->
    <root level="${level}">
        <if condition='property("mode").contains("file")'>
            <then>
                <appender-ref ref="log_file"/>
                <appender-ref ref="error_file"/>
            </then>
        </if>
        <if condition='property("mode").contains("skywalking")'>
            <then>
                <appender-ref ref="log_skywalking"/>
            </then>
        </if>
        <if condition='property("mode").contains("elk")'>
            <then>
                <appender-ref ref="log_logstash"/>
            </then>
        </if>
        <springProfile name="dev">
            <appender-ref ref="stdout" />
        </springProfile>
    </root>
</configuration>
