<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.jpower.dbs.dao.mapper.TbCoreUserMapper">

    <sql id="Base_Column_List">
        id,
        org_id,
        login_id,
        password,
        user_name,
        id_type,
        id_no,
        user_type,
        birthday,
        email,
        telephone,
        address,
        post_code,
        last_login_time,
        login_count,
        activation_status,
        activation_code,
        nick_name,
        create_user,
        create_time,
        update_user,
        update_time,
        status,
        tenant_code,
        create_org
    </sql>

    <sql id="Base_Column_List_Alias">
        u.id,
        u.org_id,
        u.login_id,
        u.password,
        u.user_name,
        u.id_type,
        u.id_no,
        u.user_type,
        u.birthday,
        u.email,
        u.telephone,
        u.address,
        u.post_code,
        u.last_login_time,
        u.login_count,
        u.activation_status,
        u.activation_code,
        u.nick_name,
        u.create_user,
        u.create_time,
        u.update_user,
        u.update_time,
        u.status,
        u.is_deleted,
        u.tenant_code,
        u.create_org
    </sql>

    <select id="selectAllById" resultType="com.wlcb.jpower.dbs.entity.TbCoreUser">
        select <include refid="Base_Column_List_Alias"/>,
        (select group_concat(role_id) from tb_core_user_role r where r.user_id = u.id) as roleIds
        from tb_core_user u
        where u.id = #{id,jdbcType=VARCHAR} and u.is_deleted = 0
    </select>

    <select id="selectUserList" resultType="com.wlcb.jpower.dbs.entity.TbCoreUser">
        select
        <include refid="Base_Column_List_Alias"/>,
        (select group_concat(role_id) from tb_core_user_role r where r.user_id = u.id) as roleIds
        from tb_core_user u
        where u.is_deleted = 0

        <if test="coreUser != null and coreUser.orgId != null and coreUser.orgId != ''">
            and u.org_id = #{coreUser.orgId,jdbcType=VARCHAR}
        </if>

        <if test="coreUser != null and coreUser.loginId != null and coreUser.loginId != ''">
            and u.login_id = #{coreUser.loginId,jdbcType=VARCHAR}
        </if>

        <if test="coreUser != null and coreUser.nickName != null and coreUser.nickName != ''">
            and u.nick_name = CONCAT('%',#{coreUser.nickName,jdbcType=VARCHAR},'%')
        </if>

        <if test="coreUser != null and coreUser.userName != null and coreUser.userName != ''">
            and u.user_name = #{coreUser.userName,jdbcType=VARCHAR}
        </if>

        <if test="coreUser != null and coreUser.idNo != null and coreUser.idNo != ''">
            and u.id_no = CONCAT('%',#{coreUser.idNo,jdbcType=VARCHAR},'%')
        </if>

        <if test="coreUser != null and coreUser.userType != null and coreUser.userType != ''">
            and u.user_type = #{coreUser.userType,jdbcType=VARCHAR}
        </if>

        <if test="coreUser != null and coreUser.telephone != null and coreUser.telephone != ''">
            and u.telephone like CONCAT('%',#{coreUser.telephone,jdbcType=VARCHAR},'%')
        </if>

        <if test="orgIds != null and orgIds.size > 0">
            and u.org_id in
            <foreach collection="orgIds" item="orgId" open="(" close=")" separator=",">
                #{orgId,jdbcType=VARCHAR}
            </foreach>
        </if>

    </select>
</mapper>