<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.jpower.dbs.dao.mapper.TbCoreUserMapper">

    <sql id="Base_Column_List">
        id,
        login_id,
        password,
        user_name,
        id_type,
        id_no,
        user_type,
        birthday,
        email,
        telephone,
        address,
        post_code,
        last_login_time,
        login_count,
        activation_status,
        activation_code,
        create_user,
        create_time,
        update_user,
        update_time,
        status,
        is_deleted
    </sql>

    <sql id="Base_Column_List_Alias">
        u.id,
        u.login_id,
        u.password,
        u.user_name,
        u.id_type,
        u.id_no,
        u.user_type,
        u.birthday,
        u.email,
        u.telephone,
        u.address,
        u.post_code,
        u.last_login_time,
        u.login_count,
        u.activation_status,
        u.activation_code,
        u.create_user,
        u.create_time,
        u.update_user,
        u.update_time,
        u.status,
        u.is_deleted
    </sql>

    <insert id="insertList">
        insert into tb_core_user
        (id,
        login_id,
        password,
        user_name,
        id_type,
        id_no,
        user_type,
        birthday,
        email,
        telephone,
        address,
        post_code,
        activation_status,
        activation_code,
        create_user,
        update_user,
        is_deleted)
        values
        <foreach collection="list" item="user" separator=",">
            (
            #{user.id},
            #{user.loginId},
            #{user.password},
            #{user.userName},
            #{user.idType},
            #{user.idNo},
            #{user.userType},
            #{user.birthday},
            #{user.email},
            #{user.telephone},
            #{user.address},
            #{user.postCode},
            #{user.activationStatus},
            #{user.activationCode},
            #{user.createUser},
            #{user.createUser},
            #{user.isDeleted}
            )
        </foreach>
    </insert>

    <select id="selectAllById" resultType="com.wlcb.jpower.dbs.entity.TbCoreUser">
        select <include refid="Base_Column_List_Alias"/>,o.name as orgName,
            (select group_concat(role_id) from tb_core_user_role r where r.user_id = u.id) as roleIds
        from tb_core_user u
        left join tb_core_org o on o.id = u.org_id
        where u.id = #{id,jdbcType=VARCHAR} and u.is_deleted = 0
    </select>

    <select id="selectUserList" resultType="com.wlcb.jpower.dbs.entity.TbCoreUser">
        select
            <include refid="Base_Column_List_Alias"/>,
            (select group_concat(org_id) from tb_core_user_org o where o.user_id = u.id
                <if test="tenantCode != null">
                    and tenant_code = #{tenantCode}
                </if>
            ) as orgId,
            (select group_concat(role_id) from tb_core_user_role r where r.user_id = u.id  and tenant_code = #{tenantCode}) as roleIds
        from tb_core_user u
        where u.is_deleted = 0

        <if test="coreUser != null and coreUser.loginId != null and coreUser.loginId != ''">
            and u.login_id = #{coreUser.loginId,jdbcType=VARCHAR}
        </if>

        <if test="coreUser != null and coreUser.nickName != null and coreUser.nickName != ''">
            and u.nick_name = CONCAT('%',#{coreUser.nickName,jdbcType=VARCHAR},'%')
        </if>

        <if test="coreUser != null and coreUser.userName != null and coreUser.userName != ''">
            and u.user_name = #{coreUser.userName,jdbcType=VARCHAR}
        </if>

        <if test="coreUser != null and coreUser.idNo != null and coreUser.idNo != ''">
            and u.id_no = CONCAT('%',#{coreUser.idNo,jdbcType=VARCHAR},'%')
        </if>

        <if test="coreUser != null and coreUser.userType != null and coreUser.userType != ''">
            and u.user_type = #{coreUser.userType,jdbcType=VARCHAR}
        </if>

        <if test="coreUser != null and coreUser.telephone != null and coreUser.telephone != ''">
            and u.telephone like CONCAT('%',#{coreUser.telephone,jdbcType=VARCHAR},'%')
        </if>

        <if test="orgIds != null and orgIds.size > 0">
            and u.org_id in
            <foreach collection="orgId" item="orgIds" open="(" close=")" separator=",">
                #{orgId,jdbcType=VARCHAR}
            </foreach>
        </if>

    </select>
</mapper>