<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.ylth.module.dbs.dao.user.ZhengwuUserMapper">

    <sql id="Base_Column_List">
        id,
        openid,
        name,
        phone,
        status,
        idcard,
        insert_at,
        data,
        bank_card_number,
        bank_card_address,
        uid,
        code,
        rule,
        bind,
        position,
        office_id,
        cldw,
        update_at,
        gaosu,
        jiedao,
        address,
        shequ,
        xiaoqu,
        loudong,
        menpai,
        tjdw,
        wuhan,
        geli_at,
        quxian,
        miyao,
        userinfo,
        car_number,
        idtype,
        gzdw,
        qrcode_text
    </sql>

    <update id="updateQrcodeById">
        update tbl_zhengwu_user set qrcode_text = #{qrcodeText,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="queryByOpenid" resultType="com.wlcb.ylth.module.dbs.entity.user.TblZhengwuUser">
        SELECT b.value as shequ_str,c.dept_name as jiedao_str,d.value as xiaoqu_str,c.dept_name as cldw_str,a.* from tbl_zhengwu_user a
        LEFT JOIN dic_shequ b on a.shequ = b.id
        LEFT JOIN dic_office c on a.jiedao = c.id
        LEFT JOIN dic_xiaoqu d on a.xiaoqu = d.id
        LEFT JOIN dic_office f on a.cldw = f.id
        WHERE a.openid = #{user.openid,jdbcType=VARCHAR} and a.status = 0
    </select>


</mapper>