<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.wlj.module.dbs.dao.corporate.CorporateMapper">

    <sql id="Base_Column_List">
        `id`,
        `area`,
        `enterprise_name`,
        `legal_person`,
        `enterprise_range`,
        `legal_idcard`,
        `enterprise_authority`,
        `enterprise_status`,
        `organization_code`,
        `create_user`,
        `create_time`,
        `update_user`,
        `update_time`,
        `status`
    </sql>

    <insert id="insterByReview">
        insert into tbl_csrrg_corporate(`id`,
        `registered_number`,
        `organization_code`,
        `enterprise_name`,
        `area`,
        `enterprise_type`,
        `legal_person`,
        `legal_phone`,
        `liaison_name`,
        `liaison_phone`,
        `enterprise_authority`,
        `enterprise_phone`,
        `registered_money`,
        `enterprise_range`,
        `registered_date`,
        `legal_idcard`,
        `liaison_idcard`)
        select `id`,
        `registered_number`,
        `organization_code`,
        `enterprise_name`,
        `area`,
        `enterprise_type`,
        `legal_person`,
        `legal_phone`,
        `liaison_name`,
        `liaison_phone`,
        `enterprise_authority`,
        `enterprise_phone`,
        `registered_money`,
        `enterprise_range`,
        `registered_date`,
        `legal_idcard`,
        `liaison_idcard` from tbl_csrrg_corporate_review where id = #{id,jdbcType=VARCHAR}
    </insert>

    <select id="selectName" resultType="java.util.Map">
        select id,enterprise_name from tbl_csrrg_corporate where enterprise_name like CONCAT('%',#{name,jdbcType=VARCHAR},'%' )
    </select>

    <select id="selectById" resultType="com.wlcb.wlj.module.dbs.entity.corporate.TblCsrrgCorporate">
        select <include refid="Base_Column_List"/> from tbl_csrrg_corporate where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectDetailByLegal" resultType="com.wlcb.wlj.module.dbs.entity.corporate.TblCsrrgCorporate">
        select <include refid="Base_Column_List"/> from tbl_csrrg_corporate
        where
        enterprise_name = #{enterpriseName,jdbcType=VARCHAR}
        and legal_person = #{applicantName,jdbcType=VARCHAR}
        and legal_idcard = #{applicantIdcard,jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="selectDetailByIdcard" resultType="com.wlcb.wlj.module.dbs.entity.corporate.TblCsrrgCorporate">
        select <include refid="Base_Column_List"/> from tbl_csrrg_corporate where legal_idcard = #{idcard,jdbcType=VARCHAR}
    </select>

    <select id="countCorporateByReview" resultType="java.lang.Integer">
        select sum(count) from (
        select count(1) as count from tbl_csrrg_corporate_review where organization_code = #{organizationCode,jdbcType=VARCHAR} and enterprise_name = #{enterpriseName,jdbcType=VARCHAR} and review_stats in (1,3)
        union all
        select count(1) as count from tbl_csrrg_corporate where organization_code = #{organizationCode,jdbcType=VARCHAR} and enterprise_name = #{enterpriseName,jdbcType=VARCHAR}
        ) a
    </select>

    <delete id="deleteById">
        delete from tbl_csrrg_corporate where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>