<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.jpower.module.dbs.dao.core.user.mapper.TbCoreUserMapper">

    <sql id="Base_Column_List">
        id,
        org_id,
        login_id,
        password,
        user_name,
        id_type,
        id_no,
        user_type,
        birthday,
        email,
        telephone,
        address,
        post_code,
        last_login_time,
        login_count,
        activation_status,
        activation_code,
        create_user,
        create_time,
        update_user,
        update_time,
        status
    </sql>

    <sql id="Base_Column_List_Alias">
        u.id,
        u.org_id,
        u.login_id,
        u.password,
        u.user_name,
        u.id_type,
        u.id_no,
        u.user_type,
        u.birthday,
        u.email,
        u.telephone,
        u.address,
        u.post_code,
        u.last_login_time,
        u.login_count,
        u.activation_status,
        u.activation_code,
        u.create_user,
        u.create_time,
        u.update_user,
        u.update_time,
        u.status
    </sql>

    <insert id="insertList">
        insert into tb_core_user
        (id,
        org_id,
        login_id,
        password,
        user_name,
        id_type,
        id_no,
        user_type,
        birthday,
        email,
        telephone,
        address,
        post_code,
        activation_status,
        activation_code,
        create_user,
        update_user)
        values
        <foreach collection="list" item="user" separator=",">
            (
            #{user.id},
            (SELECT id FROM tb_core_org WHERE name = #{user.orgName} limit 1),
            #{user.loginId},
            #{user.password},
            #{user.userName},
            #{user.idType},
            #{user.idNo},
            #{user.userType},
            #{user.birthday},
            #{user.email},
            #{user.telephone},
            #{user.address},
            #{user.postCode},
            #{user.activationStatus},
            #{user.activationCode},
            #{user.createUser},
            #{user.createUser}
            )
        </foreach>
    </insert>

    <select id="selectAllById" resultType="com.wlcb.jpower.module.dbs.entity.core.user.TbCoreUser">
        select <include refid="Base_Column_List_Alias"/>,o.name as orgName from tb_core_user u
        left join tb_core_org o on o.id = u.org_id
        where u.id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>