<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.module.dbs.dao.tiwen.WendMapper">

    <sql id="Base_Column_List">
        uuid,img,wendu,detail,insert_at,openid,jiedao,shequ,xiaoqu,loudong,menpai,is_normal
    </sql>

    <select id="listDetail" resultType="java.util.Map">
        select w.uuid,w.img,w.wendu,w.detail,w.insert_at,w.openid,w.jiedao,w.shequ,w.xiaoqu,w.loudong,w.menpai,w.is_normal,
        u.openid,u.name,u.phone,u.idcard
        from wend w join user u on w.openid = u.openid
        <where>
            <if test="user.name != null  and user.name!=''">
                and u.name like CONCAT('%',#{user.name},'%')
            </if>
            <if test="user.openid != null  and user.openid!=''">
                and u.openid like CONCAT('%',#{user.openid},'%')
            </if>
            <if test="user.idcard != null  and user.idcard!=''">
                and u.idcard = #{user.idcard}
            </if>
            <if test="user.phone != null  and user.phone!=''">
                and u.phone = #{user.phone}
            </if>

            <if test="wend.jiedao != null  and wend.jiedao!=''">
                and w.jiedao like CONCAT('%',#{wend.jiedao},'%')
            </if>
            <if test="wend.shequ != null  and wend.shequ!=''">
                and w.shequ like CONCAT('%',#{wend.shequ},'%')
            </if>
            <if test="wend.xiaoqu != null  and wend.xiaoqu!=''">
                and w.xiaoqu = #{wend.xiaoqu}
            </if>
            <if test="wend.isNormal != null  and wend.isNormal!=''">
                and w.is_normal = #{wend.isNormal}
            </if>
            <if test="wend.wendu != null  and wend.wendu!=''">
                and w.wendu = #{wend.wendu}
            </if>
            <if test="startTime != null  and startTime!=''">
                <![CDATA[ and w.insert_at >= #{startTime} ]]>
            </if>
            <if test="endTime != null and endTime!=''">
                <![CDATA[ and w.insert_at <= #{endTime} ]]>
            </if>
        </where>
        order by w.insert_at desc
    </select>

    <select id="queryNew" resultType="java.util.Map">
        select w.uuid,w.img,w.wendu,w.detail,w.insert_at,w.openid,w.jiedao,w.shequ,w.xiaoqu,w.loudong,w.menpai,w.is_normal,
        u.openid,u.name,u.phone,u.idcard
        from wend w join user u on w.openid = u.openid
        <where>
            and u.openid = #{openid}
        </where>
        order by w.insert_at desc limit 1
    </select>

    <insert id="inster">
        INSERT INTO wend (uuid,img,wendu,detail,insert_at,openid,jiedao,shequ,xiaoqu,loudong,menpai,is_normal)
        value (#{uuid},#{img},#{wendu},#{detail},#{insertAt,jdbcType=TIMESTAMP},#{openid},#{jiedao},#{shequ},#{xiaoqu},#{loudong},#{menpai},#{isNormal})
    </insert>

</mapper>