<?xml version="1.0" encoding="UTF-8"?>

<included>
    <appender name="log_logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${log.elk.destination}</destination>
        <!-- 日志输出编码 -->
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <timestampPattern>yyyy-MM-dd HH:mm:ss.SSS</timestampPattern>
            <writeVersionAsInteger>false</writeVersionAsInteger>
            <version>${version}</version>
            <provider class="top.jpower.core.log.trace.TraceIdJsonProvider" />
            <customFields>
                {
                    "pid":"${PID:-}",
                    "serviceName":"${appName:-JPowerApp}"
                }
            </customFields>
        </encoder>
    </appender>
</included>
