<?xml version="1.0" encoding="UTF-8"?>

<included>
    <appender name="log_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file.base}/log/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${log.file.base}/log/log-%d{yyyyMMdd}.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${log.file.historyDay}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="top.jpower.core.log.trace.TraceIdLayout">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>${log.file.pattern}</pattern>
            </layout>
            <charset>UTF-8</charset>
        </encoder>
        <!-- 打印日志级别 -->
        <if condition='property("log.file.info").contains("threshold")'>
            <then>
                <!-- 阈值过滤 -->
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>INFO</level>
                </filter>
            </then>
            <else>
                <then>
                    <!-- 级别过滤 -->
                    <if condition='property("log.file.info").contains("warn")'>
                        <then>
                            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                                <level>WARN</level>
                                <onMatch>ACCEPT</onMatch>
                                <onMismatch>NEUTRAL</onMismatch>
                            </filter>
                        </then>
                    </if>
                    <filter class="ch.qos.logback.classic.filter.LevelFilter">
                        <level>INFO</level>
                        <onMatch>ACCEPT</onMatch>
                        <onMismatch>DENY</onMismatch>
                    </filter>
                </then>
            </else>
        </if>
    </appender>
    <appender name="error_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.file.base}/error/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${log.file.base}/error/error-%d{yyyyMMdd}.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${log.file.historyDay}</MaxHistory>
        </rollingPolicy>
        <!-- 级别过滤 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="top.jpower.core.log.trace.TraceIdLayout">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>${log.file.pattern}</pattern>
            </layout>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
</included>
