<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.jpower.module.dbs.dao.core.user.TbCoreUserRoleMapper">

    <sql id="Base_Column_List">
        id,
        user_id,
        role_id,
        create_user,
        create_time,
        update_user,
        update_time,
        status
    </sql>

    <insert id="insertList">
        insert into tb_core_user_role
        (id,
        user_id,
        role_id)
        values
        <foreach collection="userRoles" item="ur" separator=",">
            (
            #{ur.id},
            #{ur.userId},
            #{ur.roleId}
            )
        </foreach>
    </insert>

    <select id="selectUserRoleByUserId"
            resultType="com.wlcb.jpower.module.dbs.entity.core.role.TbCoreUserRole">
        select
        ur.user_id,
        ur.role_id,
        r.name as roleName
        from tb_core_user_role ur
        left join tb_core_role r on r.id = ur.role_id
        where ur.user_id = #{userId,jdbcType=VARCHAR}
    </select>
</mapper>