<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wlcb.jpower.module.dbs.dao.user.UserMapper">

    <sql id="Base_Column_List">
        `id`,
        `user`,
        `name`,
        `password`,
        `status`,
        `role`,
        `standby_time`,
        `office_id`,
        `insert_at`,
        jiedao,
        quxian,
        shequ,
        xiaoqu,
        phone
    </sql>

    <update id="updatePassword">
        update tbl_user SET password = #{password,jdbcType=VARCHAR} WHERE id = #{id}
    </update>

    <select id="selectByUser" resultType="com.wlcb.jpower.module.dbs.entity.user.TblUser">
        select <include refid="Base_Column_List"/> from tbl_user
        where
        user = #{username,jdbcType=VARCHAR}
        and status = 0
    </select>

    <select id="selectById" resultType="com.wlcb.jpower.module.dbs.entity.user.TblUser">
        select <include refid="Base_Column_List"/> from tbl_user
        where
        id = #{id}
        and status = 0
    </select>

    <select id="selectAllRole" resultType="java.lang.String">
        select uuid from dic_menu where status=0
    </select>

    <select id="selectMenuByRole" resultType="java.lang.String">
        select m.uuid from tbl_role_menu r LEFT JOIN dic_menu m on r.menu_id = m.id where r.role_id=#{role,jdbcType=INTEGER}
    </select>


</mapper>